@model IEnumerable<Search_as_a_service_azure.Models.Hotel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<head>

    <link href="~/Content/jquery.progressTimer.css" rel="stylesheet" />

</head>

<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hotelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baseRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parkingIncluded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastRenovationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.baseRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.parkingIncluded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastRenovationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.hotelId }, htmlAttributes: new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.hotelId }, htmlAttributes: new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.hotelId }, htmlAttributes: new { @class = "btn btn-danger" })*@
            </td>
        </tr>
    }

</table>




<span class="form-inline">
    <input type="button" id="Searchbtn" value="Search" class="btn" /> <input type="text" id="txtsearch" class="form-control" /> 
</span>
<br />
examples like "Motel",category eq 'Luxary'

<h2>Search Results</h2>
<div class="loading-progress" id="pbar"></div>
<div id="search"></div>




     @section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.progressTimer.js"></script>

    <script type="text/javascript">




        $("#Searchbtn").on("click", function () {
            var progress = $(".loading-progress").progressTimer({
                timeLimit: 10,
                onFinish: function () {
                   // alert('completed!');
                }
            });
            $.ajax({
                url: "Hotels/GetSearchRecord",
                beforeSend: function () {
                    $("#search").html("");
                },
                data: { searchtxt: $('#txtsearch').val() },
                method: "get",
                success: function (data) {
                    $("#search").html(data);
                    progress.progressTimer('complete');

                },
                error: function (jqXHr,error,errorThrown) {
                    progress.progressTimer('error',
                        {
                            errorText: 'ERROR!',
                            onFinish: function () {
                                alert("ResponseText:"+jqXHr.responseText + " <br/>Status" + jqXHr.status+"<br/>StatusText:"+jqXHr.statusText);
                            }
                        });
                    //alert("ResponseText:" + jqXHr.responseText + " <br/>Status" + jqXHr.status + "<br/>StatusText:" + jqXHr.statusText);
                    $("#search").html("No records found");
                }
            })

        });


    </script>


}
